# Software Configuration File
# ---------------------------
# 
# You may edit this file when the VPN Server / Client / Bridge program is not running.
# 
# In prior to edit this file manually by your text editor,
# shutdown the VPN Server / Client / Bridge background service.
# Otherwise, all changes will be lost.
# 
declare root
{
	bool DisableRelayServer false
	bool DontSavePassword false
	bool EnableVPNGateService false
	byte EncryptedPassword +WzqGYrR3VYXrAhKPZLGEHcIwO8=
	bool HideVPNGateServiceMessage false
	bool PasswordRemoteOnly false
	string UserAgent Mozilla/5.0$20(Windows$20NT$206.3;$20WOW64;$20rv:29.0)$20Gecko/20100101$20Firefox/29.0
	uint UseSecureDeviceId 0

	declare AccountDatabase
	{
		declare Account0
		{
			bool CheckServerCert false
			uint64 CreateDateTime 1625927607400
			uint64 LastConnectDateTime 1626678832005
			string ShortcutKey 3BE874815E30A983044D5355C53EBC8EC24E223C
			bool StartupAccount false
			uint64 UpdateDateTime 1626596947895

			declare ClientAuth
			{
				uint AuthType 1
				byte HashedPassword 68I/tSJDY/TNw16Y9KgyH13Psf4=
				string Username client2
			}
			declare ClientOption
			{
				string AccountName Bahtiar
				uint AdditionalConnectionInterval 1
				uint ConnectionDisconnectSpan 0
				string DeviceName VPN4
				bool DisableQoS false
				bool HalfConnection true
				bool HideNicInfoWindow false
				bool HideStatusWindow false
				string Hostname bahti.ip-dynamic.com
				string HubName VPN
				uint MaxConnection 32
				bool NoRoutingTracking false
				bool NoTls1 false
				bool NoUdpAcceleration false
				uint NumRetry 4294967295
				uint Port 5555
				uint PortUDP 0
				string ProxyName $
				byte ProxyPassword $
				uint ProxyPort 0
				uint ProxyType 0
				string ProxyUsername $
				bool RequireBridgeRoutingMode true
				bool RequireMonitorMode false
				uint RetryInterval 15
				bool UseCompress false
				bool UseEncrypt false
			}
		}
		declare Account1
		{
			bool CheckServerCert false
			uint64 CreateDateTime 1626667954631
			uint64 LastConnectDateTime 1626675574480
			string ShortcutKey 345687B75A70B51B98546512A2BF113AB0B9D600
			bool StartupAccount false
			uint64 UpdateDateTime 1626667954631

			declare ClientAuth
			{
				uint AuthType 1
				byte HashedPassword 68I/tSJDY/TNw16Y9KgyH13Psf4=
				string Username client2
			}
			declare ClientOption
			{
				string AccountName Bahtiar128
				uint AdditionalConnectionInterval 1
				uint ConnectionDisconnectSpan 0
				string DeviceName VPN11
				bool DisableQoS false
				bool HalfConnection true
				bool HideNicInfoWindow false
				bool HideStatusWindow false
				string Hostname 36.68.154.30
				string HubName VPN
				uint MaxConnection 32
				bool NoRoutingTracking false
				bool NoTls1 false
				bool NoUdpAcceleration false
				uint NumRetry 4294967295
				uint Port 5555
				uint PortUDP 0
				string ProxyName $
				byte ProxyPassword $
				uint ProxyPort 0
				uint ProxyType 0
				string ProxyUsername $
				bool RequireBridgeRoutingMode true
				bool RequireMonitorMode false
				uint RetryInterval 15
				bool UseCompress false
				bool UseEncrypt false
			}
		}
		declare Account10
		{
			bool CheckServerCert false
			uint64 CreateDateTime 1626235621392
			uint64 LastConnectDateTime 1626758752300
			string ShortcutKey D1EC1D3DA08E7906C2AB2F7CA579A030E5A135C2
			bool StartupAccount false
			uint64 UpdateDateTime 1626351677235

			declare ClientAuth
			{
				uint AuthType 1
				byte HashedPassword JSkUdQE945IR9WzfIOg8Y1foeDE=
				string Username client1
			}
			declare ClientOption
			{
				string AccountName MTC
				uint AdditionalConnectionInterval 1
				uint ConnectionDisconnectSpan 0
				string DeviceName VPN8
				bool DisableQoS false
				bool HalfConnection true
				bool HideNicInfoWindow false
				bool HideStatusWindow false
				string Hostname ipsec2.ip-dynamic.com
				string HubName VPN
				uint MaxConnection 32
				bool NoRoutingTracking false
				bool NoTls1 false
				bool NoUdpAcceleration false
				uint NumRetry 4294967295
				uint Port 5555
				uint PortUDP 0
				string ProxyName $
				byte ProxyPassword $
				uint ProxyPort 0
				uint ProxyType 0
				string ProxyUsername $
				bool RequireBridgeRoutingMode true
				bool RequireMonitorMode false
				uint RetryInterval 15
				bool UseCompress false
				bool UseEncrypt false
			}
		}
		declare Account11
		{
			bool CheckServerCert false
			uint64 CreateDateTime 1624081772858
			uint64 LastConnectDateTime 1626603921688
			string ShortcutKey 5DF19C0F406A6EE4EBC3AB86148532E425074ABB
			bool StartupAccount false
			uint64 UpdateDateTime 1626584234300

			declare ClientAuth
			{
				uint AuthType 1
				byte HashedPassword JSkUdQE945IR9WzfIOg8Y1foeDE=
				string Username client1
			}
			declare ClientOption
			{
				string AccountName Ring2$20Gita
				uint AdditionalConnectionInterval 1
				uint ConnectionDisconnectSpan 0
				string DeviceName VPN2
				bool DisableQoS false
				bool HalfConnection true
				bool HideNicInfoWindow false
				bool HideStatusWindow false
				string Hostname 36.71.137.148
				string HubName Local$20Area$20Network
				uint MaxConnection 8
				bool NoRoutingTracking false
				bool NoTls1 false
				bool NoUdpAcceleration false
				uint NumRetry 4294967295
				uint Port 5555
				uint PortUDP 0
				string ProxyName $
				byte ProxyPassword $
				uint ProxyPort 0
				uint ProxyType 0
				string ProxyUsername $
				bool RequireBridgeRoutingMode true
				bool RequireMonitorMode false
				uint RetryInterval 15
				bool UseCompress false
				bool UseEncrypt true
			}
		}
		declare Account12
		{
			bool CheckServerCert false
			uint64 CreateDateTime 1624260816663
			uint64 LastConnectDateTime 1626231474624
			string ShortcutKey 9E827EDEAC0111446238EFDE197BC8A931923F3F
			bool StartupAccount false
			uint64 UpdateDateTime 1626625138985

			declare ClientAuth
			{
				uint AuthType 1
				byte HashedPassword JSkUdQE945IR9WzfIOg8Y1foeDE=
				string Username client1
			}
			declare ClientOption
			{
				string AccountName Roy
				uint AdditionalConnectionInterval 1
				uint ConnectionDisconnectSpan 0
				string DeviceName VPN12
				bool DisableQoS false
				bool HalfConnection true
				bool HideNicInfoWindow false
				bool HideStatusWindow false
				string Hostname ring1.ip-dynamic.com
				string HubName Local$20Area$20Network
				uint MaxConnection 8
				bool NoRoutingTracking false
				bool NoTls1 false
				bool NoUdpAcceleration false
				uint NumRetry 4294967295
				uint Port 5555
				uint PortUDP 0
				string ProxyName $
				byte ProxyPassword $
				uint ProxyPort 0
				uint ProxyType 0
				string ProxyUsername $
				bool RequireBridgeRoutingMode true
				bool RequireMonitorMode false
				uint RetryInterval 15
				bool UseCompress false
				bool UseEncrypt true
			}
		}
		declare Account13
		{
			bool CheckServerCert false
			uint64 CreateDateTime 1626189084028
			uint64 LastConnectDateTime 1626729431746
			string ShortcutKey CA1F5D532B43502FFF0F3BEA76CBD67DC351D957
			bool StartupAccount false
			uint64 UpdateDateTime 1626399333332

			declare ClientAuth
			{
				uint AuthType 1
				byte HashedPassword 68I/tSJDY/TNw16Y9KgyH13Psf4=
				string Username client2
			}
			declare ClientOption
			{
				string AccountName Sutris
				uint AdditionalConnectionInterval 1
				uint ConnectionDisconnectSpan 0
				string DeviceName VPN6
				bool DisableQoS false
				bool HalfConnection true
				bool HideNicInfoWindow false
				bool HideStatusWindow false
				string Hostname sutris.ip-dynamic.com
				string HubName VPN
				uint MaxConnection 32
				bool NoRoutingTracking false
				bool NoTls1 false
				bool NoUdpAcceleration false
				uint NumRetry 4294967295
				uint Port 5555
				uint PortUDP 0
				string ProxyName $
				byte ProxyPassword $
				uint ProxyPort 0
				uint ProxyType 0
				string ProxyUsername $
				bool RequireBridgeRoutingMode true
				bool RequireMonitorMode false
				uint RetryInterval 15
				bool UseCompress false
				bool UseEncrypt false
			}
		}
		declare Account2
		{
			bool CheckServerCert false
			uint64 CreateDateTime 1626195449104
			uint64 LastConnectDateTime 1626610787787
			string ShortcutKey 1D7E118EA227DDB48C4AB08D7D35939492F13DC9
			bool StartupAccount false
			uint64 UpdateDateTime 1626609839582

			declare ClientAuth
			{
				uint AuthType 1
				byte HashedPassword JSkUdQE945IR9WzfIOg8Y1foeDE=
				string Username client1
			}
			declare ClientOption
			{
				string AccountName Bangau
				uint AdditionalConnectionInterval 1
				uint ConnectionDisconnectSpan 0
				string DeviceName VPN7
				bool DisableQoS false
				bool HalfConnection true
				bool HideNicInfoWindow false
				bool HideStatusWindow false
				string Hostname bangau.ip-dynamic.com
				string HubName VPN
				uint MaxConnection 32
				bool NoRoutingTracking false
				bool NoTls1 false
				bool NoUdpAcceleration false
				uint NumRetry 4294967295
				uint Port 5555
				uint PortUDP 0
				string ProxyName $
				byte ProxyPassword $
				uint ProxyPort 0
				uint ProxyType 0
				string ProxyUsername $
				bool RequireBridgeRoutingMode true
				bool RequireMonitorMode false
				uint RetryInterval 15
				bool UseCompress false
				bool UseEncrypt false
			}
		}
		declare Account3
		{
			bool CheckServerCert false
			uint64 CreateDateTime 1624132464614
			uint64 LastConnectDateTime 1626735394441
			string ShortcutKey 3CF58F0B10FD27DD83424AD2317CC50E90264DA5
			bool StartupAccount true
			uint64 UpdateDateTime 1626625108283

			declare ClientAuth
			{
				uint AuthType 1
				byte HashedPassword 68I/tSJDY/TNw16Y9KgyH13Psf4=
				string Username client2
			}
			declare ClientOption
			{
				string AccountName Dani
				uint AdditionalConnectionInterval 1
				uint ConnectionDisconnectSpan 0
				string DeviceName VPN
				bool DisableQoS false
				bool HalfConnection true
				bool HideNicInfoWindow true
				bool HideStatusWindow false
				string Hostname ring1.ip-dynamic.com
				string HubName VPN
				uint MaxConnection 8
				bool NoRoutingTracking false
				bool NoTls1 false
				bool NoUdpAcceleration false
				uint NumRetry 4294967295
				uint Port 5555
				uint PortUDP 0
				string ProxyName $
				byte ProxyPassword $
				uint ProxyPort 0
				uint ProxyType 0
				string ProxyUsername $
				bool RequireBridgeRoutingMode true
				bool RequireMonitorMode false
				uint RetryInterval 15
				bool UseCompress false
				bool UseEncrypt true
			}
		}
		declare Account4
		{
			bool CheckServerCert false
			uint64 CreateDateTime 1626250440969
			uint64 LastConnectDateTime 1626628272457
			string ShortcutKey 3F4FC842A426EA9EA99CD5D6841D3BAB12D80B8F
			bool StartupAccount false
			uint64 UpdateDateTime 1626356248650

			declare ClientAuth
			{
				uint AuthType 1
				byte HashedPassword JSkUdQE945IR9WzfIOg8Y1foeDE=
				string Username client1
			}
			declare ClientOption
			{
				string AccountName IPsec3
				uint AdditionalConnectionInterval 1
				uint ConnectionDisconnectSpan 0
				string DeviceName VPN9
				bool DisableQoS false
				bool HalfConnection true
				bool HideNicInfoWindow false
				bool HideStatusWindow false
				string Hostname ipsec3.ip-dynamic.com
				string HubName VPN
				uint MaxConnection 32
				bool NoRoutingTracking false
				bool NoTls1 false
				bool NoUdpAcceleration false
				uint NumRetry 4294967295
				uint Port 5555
				uint PortUDP 0
				string ProxyName $
				byte ProxyPassword $
				uint ProxyPort 0
				uint ProxyType 0
				string ProxyUsername $
				bool RequireBridgeRoutingMode true
				bool RequireMonitorMode false
				uint RetryInterval 15
				bool UseCompress false
				bool UseEncrypt false
			}
		}
		declare Account5
		{
			bool CheckServerCert false
			uint64 CreateDateTime 1626187657606
			uint64 LastConnectDateTime 1626628277901
			string ShortcutKey EB45311043FD877BFF3B45BA9786A185FA2B63D7
			bool StartupAccount false
			uint64 UpdateDateTime 1626187657606

			declare ClientAuth
			{
				uint AuthType 1
				byte HashedPassword JSkUdQE945IR9WzfIOg8Y1foeDE=
				string Username client1
			}
			declare ClientOption
			{
				string AccountName IP_1
				uint AdditionalConnectionInterval 1
				uint ConnectionDisconnectSpan 0
				string DeviceName VPN5
				bool DisableQoS false
				bool HalfConnection true
				bool HideNicInfoWindow false
				bool HideStatusWindow false
				string Hostname 10.4.165.44
				string HubName VPN
				uint MaxConnection 32
				bool NoRoutingTracking false
				bool NoTls1 false
				bool NoUdpAcceleration false
				uint NumRetry 4294967295
				uint Port 5555
				uint PortUDP 0
				string ProxyName $
				byte ProxyPassword $
				uint ProxyPort 0
				uint ProxyType 0
				string ProxyUsername $
				bool RequireBridgeRoutingMode true
				bool RequireMonitorMode false
				uint RetryInterval 15
				bool UseCompress false
				bool UseEncrypt false
			}
		}
		declare Account6
		{
			bool CheckServerCert false
			uint64 CreateDateTime 1626757401018
			uint64 LastConnectDateTime 1626758782207
			string ShortcutKey 517EB784013097DC3E8126DF63F0D48C7D096120
			bool StartupAccount false
			uint64 UpdateDateTime 1626758826674

			declare ClientAuth
			{
				uint AuthType 1
				byte HashedPassword xmRPRHtqNyxOWCzTVZZ4Z+PKAKg=
				string Username agf07
			}
			declare ClientOption
			{
				string AccountName Jantit
				uint AdditionalConnectionInterval 1
				uint ConnectionDisconnectSpan 0
				string DeviceName VPN
				bool DisableQoS false
				bool HalfConnection true
				bool HideNicInfoWindow false
				bool HideStatusWindow false
				string Hostname premisg1.vpnjantit.com
				string HubName premiumsg1
				uint MaxConnection 32
				bool NoRoutingTracking false
				bool NoTls1 false
				bool NoUdpAcceleration false
				uint NumRetry 4294967295
				uint Port 5555
				uint PortUDP 0
				string ProxyName $
				byte ProxyPassword $
				uint ProxyPort 0
				uint ProxyType 0
				string ProxyUsername $
				bool RequireBridgeRoutingMode true
				bool RequireMonitorMode false
				uint RetryInterval 15
				bool UseCompress false
				bool UseEncrypt false
			}
		}
		declare Account7
		{
			bool CheckServerCert false
			uint64 CreateDateTime 1625904573924
			uint64 LastConnectDateTime 1626623397009
			string ShortcutKey 688F7D010829A4C413CDF112EAE97B3E53888E50
			bool StartupAccount false
			uint64 UpdateDateTime 1626347515347

			declare ClientAuth
			{
				uint AuthType 1
				byte HashedPassword JSkUdQE945IR9WzfIOg8Y1foeDE=
				string Username client1
			}
			declare ClientOption
			{
				string AccountName Jeck
				uint AdditionalConnectionInterval 1
				uint ConnectionDisconnectSpan 0
				string DeviceName VPN4
				bool DisableQoS false
				bool HalfConnection true
				bool HideNicInfoWindow false
				bool HideStatusWindow false
				string Hostname jeck.ip-dynamic.com
				string HubName VPN
				uint MaxConnection 32
				bool NoRoutingTracking false
				bool NoTls1 false
				bool NoUdpAcceleration false
				uint NumRetry 4294967295
				uint Port 5555
				uint PortUDP 0
				string ProxyName $
				byte ProxyPassword $
				uint ProxyPort 0
				uint ProxyType 0
				string ProxyUsername $
				bool RequireBridgeRoutingMode true
				bool RequireMonitorMode false
				uint RetryInterval 15
				bool UseCompress false
				bool UseEncrypt false
			}
		}
		declare Account8
		{
			bool CheckServerCert false
			uint64 CreateDateTime 1624949338372
			uint64 LastConnectDateTime 1626604798412
			string ShortcutKey C8FBA42B0C2A72128F3B5EE83DE690694647847C
			bool StartupAccount false
			uint64 UpdateDateTime 1626604316592

			declare ClientAuth
			{
				uint AuthType 1
				byte HashedPassword 68I/tSJDY/TNw16Y9KgyH13Psf4=
				string Username client2
			}
			declare ClientOption
			{
				string AccountName Manur
				uint AdditionalConnectionInterval 1
				uint ConnectionDisconnectSpan 0
				string DeviceName VPN3
				bool DisableQoS false
				bool HalfConnection true
				bool HideNicInfoWindow false
				bool HideStatusWindow false
				string Hostname manur.ip-dynamic.com
				string HubName VPN
				uint MaxConnection 8
				bool NoRoutingTracking false
				bool NoTls1 false
				bool NoUdpAcceleration false
				uint NumRetry 4294967295
				uint Port 5555
				uint PortUDP 0
				string ProxyName $
				byte ProxyPassword $
				uint ProxyPort 0
				uint ProxyType 0
				string ProxyUsername $
				bool RequireBridgeRoutingMode true
				bool RequireMonitorMode false
				uint RetryInterval 15
				bool UseCompress true
				bool UseEncrypt true
			}
		}
		declare Account9
		{
			bool CheckServerCert false
			uint64 CreateDateTime 1626415958782
			uint64 LastConnectDateTime 1626735688076
			string ShortcutKey 4C3A5339837B4882C1B60A537FF97FF4ED507F93
			bool StartupAccount false
			uint64 UpdateDateTime 1626416933930

			declare ClientAuth
			{
				uint AuthType 1
				byte HashedPassword JSkUdQE945IR9WzfIOg8Y1foeDE=
				string Username client1
			}
			declare ClientOption
			{
				string AccountName Manur97
				uint AdditionalConnectionInterval 1
				uint ConnectionDisconnectSpan 0
				string DeviceName VPN10
				bool DisableQoS false
				bool HalfConnection true
				bool HideNicInfoWindow false
				bool HideStatusWindow false
				string Hostname manur97.ip-dynamic.com
				string HubName VPN
				uint MaxConnection 32
				bool NoRoutingTracking false
				bool NoTls1 false
				bool NoUdpAcceleration false
				uint NumRetry 4294967295
				uint Port 5555
				uint PortUDP 0
				string ProxyName $
				byte ProxyPassword $
				uint ProxyPort 0
				uint ProxyType 0
				string ProxyUsername $
				bool RequireBridgeRoutingMode true
				bool RequireMonitorMode false
				uint RetryInterval 15
				bool UseCompress false
				bool UseEncrypt false
			}
		}
	}
	declare ClientManagerSetting
	{
		bool EasyMode false
		bool LockMode false
	}
	declare CommonProxySetting
	{
		string ProxyHostName $
		uint ProxyPort 0
		uint ProxyType 0
		string ProxyUsername $
	}
	declare Config
	{
		bool AllowRemoteConfig false
		uint64 AutoDeleteCheckDiskFreeSpaceMin 8589934592
		string KeepConnectHost keepalive.softether.org
		uint KeepConnectInterval 50
		uint KeepConnectPort 80
		uint KeepConnectProtocol 1
		bool NoChangeWcmNetworkSettingOnWindows8 false
		bool UseKeepConnect false
	}
	declare RootCA
	{
	}
}
